# Render / Production Environment Variables
PORT=8000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.sp2xn3r.mongodb.net/MetodikaIT-DB?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_here
CLIENT_URL=http://localhost:5173
ADMIN_NAME=Sanjar Burxonov
ADMIN_LOGIN=burxonovsanjar21@gmail.com
ADMIN_PASSWORD=AXL007_c3
NODE_ENV=production
